* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero_sec {
  text-align: center;
}

.hero_sec .toys {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video_sec iframe {
  border: none;
  aspect-ratio: 16/9;
  border-radius: 25px;
}

.product_sec {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.product_description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_description button {
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 10px;
  background-color: black;
}

.final_sec {
  display: flex;
  height: 100vh;
  padding: 2rem;
  border-radius: 10px;
  color: white;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #b94ca9, #f8383b);
}

.final_sec h2 {
  font-weight: bold;
}

.final_sec .grid_sec {
  gap: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
